/* work sans font from google fonts */
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
*{
    font-family: 'work sans', sans-serif;
}
:root{
    --linear: #FF42A5;
}

/* header section start */
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-left span{
    color: var(--linear);
}

.nav-left{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 240px;
    align-items: center;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: #0B0223;
}
.nav-left img{
    width: 86.041px;
    height: 40px;
}
.nav-right{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 240px;
    align-items: center;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.nav-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 24px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}

/* header section end */

/* goat section start */
.goat{
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
}
.goat-left{
    background-image: url("/images/Group\ 14.png");
    background-position: 100%;
}
.goat-left h3{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    margin-top: 148px;
}
.goat-left h1{
    color: var(--linear);
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}
.goat-left p{

    color: #534C64;
    text-align: left;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: 500;
}
.goat-left img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.goat-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.goat-btn-left{
    color: #FFFFFF;
    background-color: var(--linear);
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
}
.goat-btn-right{
    color: #FFFFFF;
    background-color: #4EC5F7;
    font-size: 20px;
    font-weight: 600;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
}
/* goat section end */

/* gamer section start */
.gamer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

.gamer-right{
    text-align: end;
}
.gamer-right h3{
    color: #8758F1;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}
.gamer-p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
    line-height: 30px;
}
.gamer-btn{
    color: #FFFFFF;
    background-color: var(--linear);
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
}
.gamer-right-footer{
    color: #534C64;
    line-height: 45px;
}
.gamer-right-footer {
    font-size: 24px;
    font-weight: 500;
}
.gamer-right-footer span{
    font-size: 32px;
    font-weight: 700;
}

/* gamer section end */
/* online games section star */
.online-game{
    text-align: center;
}
.online-game h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.online-game span{
    color: #8758F1;
    font-size: 48px;
    font-weight: 700;
}
.online-game p{
    margin-top: 0;
    font-size: 18px;
    color: #534C64;
    font-weight: 400;
    margin-bottom: 48px;
}

.online-game-items{
    display: flex;
    justify-content: center;
    margin-left: 240px;
    margin-right: 240px;
    gap: 20px;
}
.online-game-items p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;


}
.item img{
    border-radius: 16px;
}

/* online games section end */

/* play instantly start */
.play-instantly{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
.instantly-left span{
    color: var(--linear);

}
.instantly-left h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 24px;
    text-align: right;
}
.instantly-left p{
    text-align: right;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.instantl-right{
    display: grid;

}

.instantly-img{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    position: relative;
    bottom: 350px;
    right: 100px;
}
/* play instantly end */

/* careers section start */
.careers{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--linear);
}
.careers-content h3{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.careers-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.careers{
    padding-left: 240px;
    color: #FFF;
}
.careers-li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    
}
.careers-li-left{
    text-align: left;
}
.careers-li-right{
    text-align: right;
}
.careers-btn{
    color: var(--linear);
    background-color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 48px;
    margin-top: 20px;
    padding: 21px 40px;
    gap: 10px;
}
/* career section end */

/* all game section start */
.all-game-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    margin-top: 100px;
    cursor: pointer;
    margin-bottom: 120px;

}
.all-game-section button{
    background-color: #FFF;
    border-radius: 50px;
    border: none;
    text-align: center;
    padding: 20px;

}


/* all game section end */

/* footer start */
footer{
    background-color: #0B0223;
    margin: 0;
}
.footer-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 120px;
}
.footer-header h1{
    color: #FFF;
}
.footer-header span{
    color: var(--linear);
}
.footer-li{
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.footer-li ul{
    display: flex;
    justify-content: space-around;
    gap: 60px;
    list-style: none;
    padding-top: 70px;
    padding-bottom: 66px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:40px;
    padding-bottom: 70px;
}

.privacy{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
}
.privacy ul{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    gap: 60px;
    font-size: 16px;
    font-weight: 500;
}
.copyright{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 130px;
}
/* footer end */

/* Responsive media quary */

/* mobile devices */
@media screen and (max-width: 576px){
    nav, .goat, .gamer, .online-game-items, .play-instantly, .careers{
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        
    }
    .nav-left{
        margin: 0;
        justify-content: space-around;
    }
    .nav-right{
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0;
        padding-bottom: 20px;
    }
    .goat-left, .goat-right{
        justify-content: space-around;
    }
    .goat-right img{
        width: 100%;
    }
    .gamer{
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .gamer img{
        width: 100%;
    }
    .gamer-right{
        align-items: center;
        text-align: center;
    }
    .item{
        text-align: center;
        padding: 0;
        margin: o;
    }
    .online-game-items{
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    .item img{
        width: 300px;
        height: auto;
    }
    .instantl-right img{
        width: 100%;
    }
    .careers-img{
        width: auto;
    }
    
    
}



/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    nav, .gamer, .online-game-items, .play-instantly, .careers{
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        
    }
    .nav-left{
        margin: 0;
        justify-content: center;
    }
    .nav-right{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding-bottom: 20px;
    }
    .goat{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .goat-btn{
        justify-content: space-evenly;
    }
    .online-game-items{
        justify-content: center;
        align-items: center;

    }
}